body {
    background-color: #FFFFFF;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.navigation a {
    display: block;
    font-size: 24px;
    margin-bottom: 5px;
}
.content {
    text-align: left;
    font-size: 14px;
    margin-left: 2em;
}
.content strong {
    font-size: 18px;
}
.content em {
    display: block;
    margin-bottom: 1em;
}
.table-wrapper {
    display: flex;
    justify-content: center;
}
.table-wrapper table {
    margin-top: 2em;
}
.footer {
    margin-top: 3em;
    font-size: 12px;
}
